In [ ]:
# 문제 설명(체육복)
# 점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 
# 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다.
# 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

# 전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 체육수업을 들을 수 있는 학생의 최댓값을 return 하도록 solution 함수를 작성해주세요.

# 제한사항
# 전체 학생의 수는 2명 이상 30명 이하입니다.
# 체육복을 도난당한 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
# 여벌의 체육복을 가져온 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
# 여벌 체육복이 있는 학생만 다른 학생에게 체육복을 빌려줄 수 있습니다.
# 여벌 체육복을 가져온 학생이 체육복을 도난당했을 수 있습니다. 이때 이 학생은 체육복을 하나만 도난당했다고 가정하며, 남은 체육복이 하나이기에 다른 학생에게는 체육복을 빌려줄 수 없습니다.

In [ ]:
# 문제 요약
# 총 n명의 학생이 체육복을 입어야 함
# lost: 체육복을 도난당한 학생들의 번호 리스트
# reserve: 여벌의 체육복을 가지고 있는 학생들의 번호 리스트
# 단, 자기 번호의 바로 앞 번호나 뒷 번호 학생에게만 체육복을 빌려줄 수 있음
# 여벌을 가져왔지만 도난당한 학생은 자신이 입기 때문에 빌려줄 수 없음
# 가능한 많은 학생이 체육수업을 들을 수 있도록 해야 함

In [ ]:
# sol1
def solution(n, lost, reserve):
    # 정렬
    lost.sort()
    reserve.sort()
    
    # lost, reserve에 공통으로 있는 요소 제거
    # 여벌을 가져왔지만 동시에 잃어버린 학생은 자기만 입을 수 있으므로 reserve와 lost에서 제거
    for i in reserve[:]:
        if i in lost:
            reserve.remove(i)
            lost.remove(i)
            
    # 체육복 빌려주기(나의 앞 번호부터 확인)
    for i in reserve:
        # 여벌이 있는 학생(reserve)이 앞 번호(i-1) 학생부터 먼저 체크해서 빌려줌
        if i - 1 in lost:
            lost.remove(i - 1)
        # 앞 번호가 없으면 **뒷 번호(i+1)**에게 빌려줌
        elif i + 1 in lost:
            lost.remove(i + 1)
    return n - len(lost)

In [ ]:
# sol2
def solution(n, lost, reserve):
    # 겹치는 학생 제거
    _reserve = [r for r in reserve if r not in lost]
    _lost = [l for l in lost if l not in reserve]
    # 체육복 빌려주기
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    return n - len(_lost)

In [ ]:
# 문제 설명(실패율)
# 실패율

# 슈퍼 게임 개발자 오렐리는 큰 고민에 빠졌다. 그녀가 만든 프랜즈 오천성이 대성공을 거뒀지만, 요즘 신규 사용자의 수가 급감한 것이다.
# 원인은 신규 사용자와 기존 사용자 사이에 스테이지 차이가 너무 큰 것이 문제였다.

# 이 문제를 어떻게 할까 고민 한 그녀는 동적으로 게임 시간을 늘려서 난이도를 조절하기로 했다.
# 역시 슈퍼 개발자라 대부분의 로직은 쉽게 구현했지만, 실패율을 구하는 부분에서 위기에 빠지고 말았다. 오렐리를 위해 실패율을 구하는 코드를 완성하라.

# 실패율은 다음과 같이 정의한다.
# 스테이지에 도달했으나 아직 클리어하지 못한 플레이어의 수 / 스테이지에 도달한 플레이어 수
# 전체 스테이지의 개수 N, 게임을 이용하는 사용자가 현재 멈춰있는 스테이지의 번호가 담긴 배열 stages가 매개변수로 주어질 때,
# 실패율이 높은 스테이지부터 내림차순으로 스테이지의 번호가 담겨있는 배열을 return 하도록 solution 함수를 완성하라.

# 제한사항
# 스테이지의 개수 N은 1 이상 500 이하의 자연수이다.
# stages의 길이는 1 이상 200,000 이하이다.
# stages에는 1 이상 N + 1 이하의 자연수가 담겨있다.
# 각 자연수는 사용자가 현재 도전 중인 스테이지의 번호를 나타낸다.
# 단, N + 1 은 마지막 스테이지(N 번째 스테이지) 까지 클리어 한 사용자를 나타낸다.
# 만약 실패율이 같은 스테이지가 있다면 작은 번호의 스테이지가 먼저 오도록 하면 된다.
# 스테이지에 도달한 유저가 없는 경우 해당 스테이지의 실패율은 0 으로 정의한다.

In [ ]:
# 문제요약
# 총 N개의 스테이지가 있으며, 각 스테이지에는 번호 1부터 N까지 있음
# stages: 현재 유저들이 도전 중인 스테이지 번호 리스트
# 실패율 = 스테이지에 도달했지만 클리어하지 못한 사람 수 ÷ 스테이지에 도달한 사람 수
# 실패율이 높은 스테이지부터 내림차순으로 스테이지 번호를 반환

In [ ]:
# sol1
def solution(N, stages):
    answer = []
    
    # 실패율, sorting을 위해 dict타입으로 선언
    ratio = {}
    # 전체 플레이어 수 > 스테이지 지날수록 줄어듬
    allPlayer = len(stages)
    
    for i in range(1, N + 1):
        # 스테이지에 도달한 플레이어 수가 0명 일 때
        if allPlayer == 0:
            ratio[i] = 0
        else:
            ratio[i] = stages.count(i) / allPlayer
            # 현재 스테이지에 멈춘 숫자만큼 제외
            allPlayer -= stages.count(i)
            
    # value 기준으로 정렬 후 key 저장
    answer = sorted(ratio, key = lambda x: ratio[x], reverse = True)
    return answer

In [ ]:
# sol2
def solution(N, stages):
    answer = []
    # 스테이지 번호는 1~N, 최대값 N+1까지 나오므로 N+2 사이즈로 만듦
    sum_list = [0]*(N+2)
    dic_list = {}
    stages.sort()
    # 전체 사용자 수(현재 스테이지 이상 도달한 유저 수)
    now = len(stages)
    # 각 스테이지에 멈춰있는 사람 수 계산
    for i in stages:
        sum_list[i] += 1

    # 각 스테이지별 실패율 계산
    for i in range(1, N + 1):
        if now == 0:
            dic_list[i] = 0
            continue
        dic_list[i] = sum_list[i]/now
        # 다음 스테이지로 갈 사람 수 업데이트
        now -= sum_list[i]
    # 실패율 내림차순으로 정렬 후 스테이지 번호만 추출
    return sorted(dic_list, key = lambda x: dic_list[x], reverse = True)

In [ ]:
# 문제 설명(없어진 기록 찾기)
# 천재지변으로 인해 일부 데이터가 유실되었습니다. 입양을 간 기록은 있는데, 보호소에 들어온 기록이 없는 동물의 ID와 이름을 ID 순으로 조회하는 SQL문을 작성해주세요.

# 예시
# 예를 들어, ANIMAL_INS 테이블과 ANIMAL_OUTS 테이블이 다음과 같다면

# ANIMAL_INS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A352713	Cat	2017-04-13 16:29:00	Normal	Gia	Spayed Female
# A350375	Cat	2017-03-06 15:01:00	Normal	Meo	Neutered Male
# ANIMAL_OUTS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	NAME	SEX_UPON_OUTCOME
# A349733	Dog	2017-09-27 19:09:00	Allie	Spayed Female
# A352713	Cat	2017-04-25 12:25:00	Gia	Spayed Female
# A349990	Cat	2018-02-02 14:18:00	Spice	Spayed Female
# ANIMAL_OUTS 테이블에서

# Allie의 ID는 ANIMAL_INS에 없으므로, Allie의 데이터는 유실되었습니다.
# Gia의 ID는 ANIMAL_INS에 있으므로, Gia의 데이터는 유실되지 않았습니다.
# Spice의 ID는 ANIMAL_INS에 없으므로, Spice의 데이터는 유실되었습니다.
# 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME
# A349733	Allie
# A349990	Spice

In [ ]:
# 입양을 간 기록은 있는데, 보호소에 들어온 기록이 없는 동물
# LEFT JOIN 이후 보호 시작일이 NULL인 행 추출
SELECT A.ANIMAL_ID, A.NAME FROM ANIMAL_OUTS A
LEFT JOIN ANIMAL_INS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE B.DATETIME IS NULL
ORDER BY A.ANIMAL_ID;

In [ ]:
# 문제 설명(있었는데요 없었습니다)
# 관리자의 실수로 일부 동물의 입양일이 잘못 입력되었습니다. 보호 시작일보다 입양일이 더 빠른 동물의 아이디와 이름을 조회하는 SQL문을 작성해주세요. 이때 결과는 보호 시작일이 빠른 순으로 조회해야합니다.

# 예시
# 예를 들어, ANIMAL_INS 테이블과 ANIMAL_OUTS 테이블이 다음과 같다면

# ANIMAL_INS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A350276	Cat	2017-08-13 13:50:00	Normal	Jewel	Spayed Female
# A381217	Dog	2017-07-08 09:41:00	Sick	Cherokee	Neutered Male
# ANIMAL_OUTS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	NAME	SEX_UPON_OUTCOME
# A350276	Cat	2018-01-28 17:51:00	Jewel	Spayed Female
# A381217	Dog	2017-06-09 18:51:00	Cherokee	Neutered Male
# SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME
# A381217	Cherokee

In [ ]:
SELECT A.ANIMAL_ID, A.NAME FROM ANIMAL_INS A
LEFT JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE A.DATETIME > B.DATETIME
ORDER BY A.DATETIME ASC;

In [ ]:
# 문제설명(오랜 기간 보호한 동물1)
# 아직 입양을 못 간 동물 중, 가장 오래 보호소에 있었던 동물 3마리의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 이때 결과는 보호 시작일 순으로 조회해야 합니다.

# 예시
# 예를 들어, ANIMAL_INS 테이블과 ANIMAL_OUTS 테이블이 다음과 같다면

# ANIMAL_INS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A354597	Cat	2014-05-02 12:16:00	Normal	Ariel	Spayed Female
# A373687	Dog	2014-03-20 12:31:00	Normal	Rosie	Spayed Female
# A412697	Dog	2016-01-03 16:25:00	Normal	Jackie	Neutered Male
# A413789	Dog	2016-04-19 13:28:00	Normal	Benji	Spayed Female
# A414198	Dog	2015-01-29 15:01:00	Normal	Shelly	Spayed Female
# A368930	Dog	2014-06-08 13:20:00	Normal		Spayed Female
# ANIMAL_OUTS

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	NAME	SEX_UPON_OUTCOME
# A354597	Cat	2014-05-02 12:16:00	Ariel	Spayed Female
# A373687	Dog	2014-03-20 12:31:00	Rosie	Spayed Female
# A368930	Dog	2014-06-13 15:52:00		Spayed Female
# SQL문을 실행하면 다음과 같이 나와야 합니다.

# NAME	DATETIME
# Shelly	2015-01-29 15:01:00
# Jackie	2016-01-03 16:25:00
# Benji	2016-04-19 13:28:00
# ※ 입양을 가지 못한 동물이 3마리 이상인 경우만 입력으로 주어집니다.

In [ ]:
# sol1
# 서브쿼리 이용(NOT EXISTS)
# 괄호 -> 입양가지 않은 동물 ID
SELECT NAME, DATETIME FROM ANIMAL_INS A
WHERE NOT EXISTS (SELECT ANIMAL_ID FROM ANIMAL_OUTS B WHERE A.ANIMAL_ID = B.ANIMAL_ID)
ORDER BY DATETIME
LIMIT 3;
# sol2
# 서브쿼리 이용(NOT IN)
# 괄호 -> 입양가지 않은 동물 ID
SELECT NAME, DATETIME FROM ANIMAL_INS
WHERE ANIMAL_ID NOT IN (SELECT ANIMAL_ID FROM ANIMAL_OUTS)
ORDER BY DATETIME
LIMIT 3;
# sol3
# join 사용
SELECT A.NAME, A.DATETIME FROM ANIMAL_INS A
LEFT JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE B.DATETIME IS NULL
ORDER BY A.DATETIME
LIMIT 3;

In [ ]:
# 문제 설명(중성화 여부 파악하기)
# 보호소의 동물이 중성화되었는지 아닌지 파악하려 합니다. 중성화된 동물은 SEX_UPON_INTAKE 컬럼에 'Neutered' 또는 'Spayed'라는 단어가 들어있습니다.
# 동물의 아이디와 이름, 중성화 여부를 아이디 순으로 조회하는 SQL문을 작성해주세요. 이때 중성화가 되어있다면 'O', 아니라면 'X'라고 표시해주세요.

# 예시
# 예를 들어 ANIMAL_INS 테이블이 다음과 같다면

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A355753	Dog	2015-09-10 13:14:00	Normal	Elijah	Neutered Male
# A373219	Cat	2014-07-29 11:43:00	Normal	Ella	Spayed Female
# A382192	Dog	2015-03-13 13:14:00	Normal	Maxwell 2	Intact Male
# 중성화한 동물: Elijah, Ella
# 중성화하지 않은 동물: Maxwell 2
# 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME	중성화
# A355753	Elijah	O
# A373219	Ella	O
# A382192	Maxwell 2	X
# ※ 컬럼 이름은 일치하지 않아도 됩니다.

In [ ]:
# sol1(CASE WHEN 사용)
SELECT ANIMAL_ID, NAME, 
CASE WHEN (SEX_UPON_INTAKE LIKE 'Neutered%') OR (SEX_UPON_INTAKE LIKE 'Spayed%') THEN 'O'
    ELSE 'X'
END 중성화
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

# sol2(IF문 사용)
SELECT ANIMAL_ID, NAME, 
IF (SEX_UPON_INTAKE LIKE 'Neutered%' OR SEX_UPON_INTAKE LIKE 'Spayed%', 'O', 'X') AS 중성화
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

# sol3(정규표현식 사용)
SELECT ANIMAL_ID, NAME, 
IF (SEX_UPON_INTAKE REGEXP 'Neutered|Spayed', 'O', 'X') 중성화
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;