In [ ]:
# 문제 설명(내적)
# 길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다. a와 b의 내적을 return 하도록 solution 함수를 완성해주세요.

# 이때, a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

# 제한사항
# a, b의 길이는 1 이상 1,000 이하입니다.
# a, b의 모든 수는 -1,000 이상 1,000 이하입니다.

In [ ]:
# sol1
def solution(a, b):
    answer = 0
    for i in range(len(a)):
        answer += (a[i]*b[i])
    return answer

In [ ]:
# sol2
def solution(a, b):
    return sum([x * y for x, y in zip(a, b)])

In [ ]:
# 문제 설명(신규 아이디 추천)
# 카카오에 입사한 신입 개발자 네오는 "카카오계정개발팀"에 배치되어, 카카오 서비스에 가입하는 유저들의 아이디를 생성하는 업무를 담당하게 되었습니다. "네오"에게 주어진 첫 업무는 새로 가입하는 유저들이 카카오 아이디 규칙에 맞지 않는 아이디를 입력했을 때, 입력된 아이디와 유사하면서 규칙에 맞는 아이디를 추천해주는 프로그램을 개발하는 것입니다.
# 다음은 카카오 아이디의 규칙입니다.

# 아이디의 길이는 3자 이상 15자 이하여야 합니다.
# 아이디는 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.) 문자만 사용할 수 있습니다.
# 단, 마침표(.)는 처음과 끝에 사용할 수 없으며 또한 연속으로 사용할 수 없습니다.
# "네오"는 다음과 같이 7단계의 순차적인 처리 과정을 통해 신규 유저가 입력한 아이디가 카카오 아이디 규칙에 맞는 지 검사하고 규칙에 맞지 않은 경우 규칙에 맞는 새로운 아이디를 추천해 주려고 합니다.
# 신규 유저가 입력한 아이디가 new_id 라고 한다면,

# 1단계 new_id의 모든 대문자를 대응되는 소문자로 치환합니다.
# 2단계 new_id에서 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.)를 제외한 모든 문자를 제거합니다.
# 3단계 new_id에서 마침표(.)가 2번 이상 연속된 부분을 하나의 마침표(.)로 치환합니다.
# 4단계 new_id에서 마침표(.)가 처음이나 끝에 위치한다면 제거합니다.
# 5단계 new_id가 빈 문자열이라면, new_id에 "a"를 대입합니다.
# 6단계 new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
#      만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.
# 7단계 new_id의 길이가 2자 이하라면, new_id의 마지막 문자를 new_id의 길이가 3이 될 때까지 반복해서 끝에 붙입니다.
# 예를 들어, new_id 값이 "...!@BaT#*..y.abcdefghijklm" 라면, 위 7단계를 거치고 나면 new_id는 아래와 같이 변경됩니다.

# 1단계 대문자 'B'와 'T'가 소문자 'b'와 't'로 바뀌었습니다.
# "...!@BaT#*..y.abcdefghijklm" → "...!@bat#*..y.abcdefghijklm"

# 2단계 '!', '@', '#', '*' 문자가 제거되었습니다.
# "...!@bat#*..y.abcdefghijklm" → "...bat..y.abcdefghijklm"

# 3단계 '...'와 '..' 가 '.'로 바뀌었습니다.
# "...bat..y.abcdefghijklm" → ".bat.y.abcdefghijklm"

# 4단계 아이디의 처음에 위치한 '.'가 제거되었습니다.
# ".bat.y.abcdefghijklm" → "bat.y.abcdefghijklm"

# 5단계 아이디가 빈 문자열이 아니므로 변화가 없습니다.
# "bat.y.abcdefghijklm" → "bat.y.abcdefghijklm"

# 6단계 아이디의 길이가 16자 이상이므로, 처음 15자를 제외한 나머지 문자들이 제거되었습니다.
# "bat.y.abcdefghijklm" → "bat.y.abcdefghi"

# 7단계 아이디의 길이가 2자 이하가 아니므로 변화가 없습니다.
# "bat.y.abcdefghi" → "bat.y.abcdefghi"

# 따라서 신규 유저가 입력한 new_id가 "...!@BaT#*..y.abcdefghijklm"일 때, 네오의 프로그램이 추천하는 새로운 아이디는 "bat.y.abcdefghi" 입니다.

# [문제]
# 신규 유저가 입력한 아이디를 나타내는 new_id가 매개변수로 주어질 때, "네오"가 설계한 7단계의 처리 과정을 거친 후의 추천 아이디를 return 하도록 solution 함수를 완성해 주세요.

In [ ]:
# 문제 요약(신규 아이디 추천)
# new_id라는 문자열을 아래의 7단계 규칙에 따라 정제하여 새로운 아이디를 만들어야 합니다.

# 처리 규칙 (7단계)
# 소문자로 치환

# 알파벳 소문자, 숫자, -, _, . 제외한 문자 제거
# .가 2번 이상 연속된 부분을 하나의 .로 치환
# 문자열 시작과 끝에 있는 . 제거
# 빈 문자열이면 "a" 대입
# 길이가 16자 이상이면 처음 15자만 남기고, 끝에 .가 있다면 제거
# 길이가 2자 이하라면 마지막 문자를 길이가 3이 될 때까지 반복

In [ ]:
# sol1
def solution(new_id):
    # 1단계: 소문자로 변환
    new_id = new_id.lower()
    # 2단계: 유효한 문자만 남기기
    answer = ''
    for word in new_id:
        if word.isalnum() or word in '-_.':
            answer += word
            
    # 3단계: 연속된 마침표를 하나로
    while '..' in answer:
        answer = answer.replace('..', '.')
        
    # 4단계: 시작과 끝의 마침표 제거
    answer = answer[1:] if answer[0] == '.' and len(answer) > 1 else answer
    answer = answer[:-1] if answer[-1] == '.' else answer
    # 5단계: 빈 문자열이면 'a'로 대체
    answer = 'a' if answer == '' else answer
    # 6단계: 16자 이상이면 자르고 끝 마침표 제거
    if len(answer) >= 16:
        answer = answer[:15]
        if answer[-1] == '.':
            answer = answer[:-1]
    # 7단계:  7단계: 길이가 2 이하라면 마지막 문자를 반복 추가
    if len(answer) <= 3:
        answer = answer + answer[-1] * (3 - len(answer))
    return answer

In [ ]:
# sol2
def solution(new_id):
    # 1단계: 소문자 치환
    new_id = new_id.lower()
    
    # 2단계: 특수문자 제거
    for i in new_id:
        if i in '~!@#$%^&*()=+[{]}:?,<>/':
            new_id = new_id.replace(i, '')
            
    # 3단계: ..., ..을 .으로 치환
    while '..' in new_id:
        new_id = new_id.replace('..', '.')
        
    # 4단계: 처음 또는 끝에 위치한 . 제거
    new_id = new_id.strip('.')
    
    # 5단계: 빈 문자열이면 'a' 추가
    if len(new_id) == 0:
        new_id += 'a'
        
    # 6단계: 16자 이상이면 15자 이후의 문자 모두 제거
    if len(new_id) >= 16:
        new_id = new_id[:15]
        new_id = new_id.rstrip('.')
        
    # 7단계: 2자 이하이면 마지막 문자를 길이가 3이 될 때까지 반복해서 끝에 붙임
    if len(new_id) <= 2:
        while(len(new_id) <= 2):
            new_id += new_id[-1]
    return new_id

In [ ]:
# sol3(정규식 활용)
import re

def solution(new_id):
    st = new_id
    # 소문자로 치환
    st = st.lower()
    # 허용되지 않은 문자 제거
    st = re.sub('[^a-z0-9\-_.]', '', st)
    # 마침표가 연속될 경우 하나로 치환
    st = re.sub('\.+', '.', st)
    # 마침표가 처음이나 끝에 있으면 제거
    st = re.sub('^[.]|[.]$', '', st)
    # 빈 문자열이면 'a'로, 15자 초과면 자르고 끝 마침표 제거
    st = 'a' if len(st) == 0 else st[:15]
    st = re.sub('^[.]|[.]$', '', st)
    # 길이가 2자 이하라면 마지막 문자를 반복
    st = st if len(st) > 2 else st + "".join([st[-1] for i in range(3-len(st))])
    return st

In [ ]:
# 문제 설명(진료과별 총 예약 횟수 출력하기)
# 문제
# APPOINTMENT 테이블에서 2022년 5월에 예약한 환자 수를 진료과코드 별로 조회하는 SQL문을 작성해주세요. 이때, 컬럼명은 '진료과 코드', '5월예약건수'로 지정해주시고 결과는 진료과별 예약한 환자 수를 기준으로 오름차순 정렬하고, 예약한 환자 수가 같다면 진료과 코드를 기준으로 오름차순 정렬해주세요.

# 예시
# APPOINTMENT 테이블이 다음과 같을 때

# APNT_YMD	APNT_NO	PT_NO	MCDP_CD	MDDR_ID	APNT_CNCL_YN	APNT_CNCL_YMD
# 2022-04-14 09:30:00.000000	47	PT22000064	GS	DR20170123	N	NULL
# 2022-04-15 10:30:00.000000	48	PT22000065	OB	DR20100231	N	NULL
# 2022-05-15 17:30:00.000000	49	PT22000086	OB	DR20100231	N	NULL
# 2022-05-18 10:30:00.000000	52	PT22000019	GS	DR20100039	N	NULL
# 2022-05-19 12:00:00.000000	53	PT22000020	FM	DR20010112	N	NULL
# 2022-05-22 08:30:00.000000	54	PT22000021	GS	DR20100039	N	NULL
# 2022-05-04 10:30:00.000000	56	PT22000023	FM	DR20090112	N	NULL
# 2022-05-14 15:30:00.000000	57	PT22000074	CS	DR20200012	N	NULL
# 2022-05-24 15:30:00.000000	58	PT22000085	CS	DR20200012	N	NULL
# 2022-05-28 10:00:00.000000	60	PT22000092	OS	DR20100031	N	NULL
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# 진료과코드	5월예약건수
# OB	1
# OS	1
# CS	2
# FM	2
# GS	2

In [ ]:
SELECT MCDP_CD AS 진료과코드, COUNT(PT_NO) AS 5월예약건수
FROM APPOINTMENT
WHERE YEAR(APNT_YMD) = '2022' AND MONTH(APNT_YMD) = '05'
GROUP BY 진료과코드
ORDER BY 5월예약건수, 진료과코드;

In [ ]:
# 문제 설명(성분으로 구분한 아이스크림 총 주문량)
# 문제
# 상반기 동안 각 아이스크림 성분 타입과 성분 타입에 대한 아이스크림의 총주문량을 총주문량이 작은 순서대로 조회하는 SQL 문을 작성해주세요. 이때 총주문량을 나타내는 컬럼명은 TOTAL_ORDER로 지정해주세요.

# 예시
# 예를 들어 FIRST_HALF 테이블이 다음과 같고

# SHIPMENT_ID	FLAVOR	TOTAL_ORDER
# 101	chocolate	3200
# 102	vanilla	2800
# 103	mint_chocolate	1700
# 104	caramel	2600
# 105	white_chocolate	3100
# 106	peach	2450
# 107	watermelon	2150
# 108	mango	2900
# 109	strawberry	3100
# 110	melon	3150
# 111	orange	2900
# 112	pineapple	2900
# ICECREAM_INFO 테이블이 다음과 같다면

# FLAVOR	INGREDIENT_TYPE
# chocolate	sugar_based
# vanilla	sugar_based
# mint_chocolate	sugar_based
# caramel	sugar_based
# white_chocolate	sugar_based
# peach	fruit_based
# watermelon	fruit_based
# mango	fruit_based
# strawberry	fruit_based
# melon	fruit_based
# orange	fruit_based
# pineapple	fruit_based
# 상반기에 아이스크림의 주 성분이 설탕인 아이스크림들에 대한 총주문량을 구하면 3,200 + 2,800 + 1,700 + 2,600 + 3,100 = 13,400입니다. 아이스크림의 주 성분이 과일인 아이스크림들에 대한 총주문량을 구하면 3,100 + 2,450 + 2,150 + 2,900 + 3,150 + 2,900 + 2,900 = 19,550입니다. 따라서 총주문량이 작은 순서대로 조회하는 SQL 문을 실행하면 다음과 같이 나와야 합니다.

# INGREDIENT_TYPE	TOTAL_ORDER
# sugar_based	13400
# fruit_based	19550

In [ ]:
SELECT A.INGREDIENT_TYPE AS INGREDIENT_TYPE, SUM(B.TOTAL_ORDER) AS TOTAL_ORDER
FROM ICECREAM_INFO A
INNER JOIN FIRST_HALF B
ON A.FLAVOR = B.FLAVOR
GROUP BY INGREDIENT_TYPE
ORDER BY TOTAL_ORDER;

In [ ]:
# 문제설명(조건에 맞는 도서와 저자 리스트 출력하기)
# 문제
# '경제' 카테고리에 속하는 도서들의 도서 ID(BOOK_ID), 저자명(AUTHOR_NAME), 출판일(PUBLISHED_DATE) 리스트를 출력하는 SQL문을 작성해주세요.
# 결과는 출판일을 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 BOOK 테이블과 AUTHOR 테이블이 다음과 같다면

# BOOK_ID	CATEGORY	AUTHOR_ID	PRICE	PUBLISHED_DATE
# 1	인문	1	10000	2020-01-01
# 2	경제	1	9000	2021-04-11
# 3	경제	2	11000	2021-02-05
# AUTHOR_ID	AUTHOR_NAME
# 1	홍길동
# 2	김영호
# '경제' 카테고리에 속하는 도서는 도서 ID가 2, 3인 도서이고, 출판일을 기준으로 오름차순으로 정렬하면 다음과 같은 결과가 나와야 합니다.

# BOOK_ID	AUTHOR_NAME	PUBLISHED_DATE
# 3	김영호	2021-02-05
# 2	홍길동	2021-04-11
# 주의사항
# PUBLISHED_DATE의 데이트 포맷이 예시와 동일해야 정답처리 됩니다.

In [ ]:
SELECT A.BOOK_ID AS BOOK_ID, B.AUTHOR_NAME AS AUTHOR_NAME,
DATE_FORMAT(A.PUBLISHED_DATE, '%Y-%m-%d') AS PUBLISHED_DATE
FROM BOOK A
INNER JOIN AUTHOR B
ON A.AUTHOR_ID = B.AUTHOR_ID
WHERE CATEGORY = '경제'
ORDER BY PUBLISHED_DATE;